<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">


            <li>
                <a href="#"><i class="fa fa-sitemap fa-3x"></i> Categoria<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/Categoria/Cadastrar">Nova Categoria</a>
                    </li>
                    <li>
                        <a href="/Categoria/Consultar">Consultar Categoria</a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-sitemap fa-3x"></i> Empresa<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/Empresa/Cadastrar">Nova Empresa</a>
                    </li>
                    <li>
                        <a href="/Empresa/Consultar">Consultar Empresa</a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-sitemap fa-3x"></i> Banco<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/Conta/Cadastrar">Nova Conta</a>
                    </li>
                    <li>
                        <a href="/Conta/Consultar">Consultar Conta</a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-sitemap fa-3x"></i> Movimento<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/Movimento/Lancar">Novo Movimento</a>
                    </li>
                    <li>
                        <a href="/Movimento/Consultar">Consultar Movimento</a>
                    </li>


                </ul>
            </li>
            <li>
                <a href="/Usuario/Deslogar"><i class="fa fa-square-o fa-3x"></i> Sair</a>
            </li>
        </ul>

    </div>

</nav>
